// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-index {

  .book-item {
    width: 100%;
    height: auto;
    background-color: orange;
    display: none;
  }

  .book-image {
    width: 120px;
    height: 180px;
    margin: 20px;
    vertical-align: top;
  }

  .search-books-button {
    width: 120px;
    height: 180px;
    margin: 20px;
  }

}