.popup-search {
    position: relative;
    background: #FFF;
    padding: 20px;
    margin: 0 auto;
    width: 75vw;
    height: 75vh;
}

.popup-search-query {
  height: 10%;
}

.popup-search-response {
  overflow-y: auto;
  height: 90%;
}

.popup-result {

  display: table;

  >div {
    display: table-cell;
    vertical-align: top;
  }

}

.popup-result-title {
  margin: 0;
}

.popup-result-cover {
  width: 200px;
  height: 300px;
  display: block;
  margin-bottom: 30px;
  margin-right: 20px;

  >button {
    display: none;
    position: relative;
    top: -50%;
    margin: auto;
  }

  >img {
    width: 200px;
    height: 300px;
  }

}