.popup-search {
    position: relative;
    background: #FFF;
    padding: 20px;
    margin: 0 auto;
    width: 75vw;
    height: 75vh;
}

.popup-search-query {
  height: 10%;
}

.popup-search-response {
  overflow-y: auto;
  height: 90%;
}

.popup-result {
  width: 100%;
  height: 15vw;

  >div {
    float: left;
    height: 100%;
  }

}

.popup-result-cover {

  width: 10vw;

  img {
    width: 100%;
    height: 100%;
  }

}

.popup-result-description {
  width: calc(100% - 10vw);
  overflow: auto;
}

.popup-result-button {

  text-align: center;
  position: relative;
  top: -50%;

  >button {
    display: none;
  }

}