<div class="book_index">

  <% if false %>
      <span>
        Search for books:
        <input class="search_books_query" title="Book Name">
        <button class="search_books">Go</button>
      </span>

      <div class="indexer_response">

      </div>
  <% end %>

  <button style="width: 120px; height: 180px;" class="search_books_button">
    Add new book
  </button>

  <div id="search_books_popup" class="popup_search mfp-hide">
    <span>
      <input title="Title" placeholder="Book title" class="search_books_query">
      <button class="search_books">Search</button>
    </span>

    <div class="indexer_response">

    </div>
  </div>

</div>