<div class="book_index">

  <span>
    Search for books:
    <input class="search_books_query" title="Book Name">
    <button class="search_books">Go</button>
  </span>

  <div class="indexer_response">

  </div>

</div>