.popup_search {
    position: relative;
    background: #FFF;
    padding: 20px;
    margin: 0 auto;
    width: 75vw;
    height: 75vh;
}

.add_button {
    display: none;
    position: relative;
    top: -50%;
    margin: auto;
}

.book_search_result {
    display: table;
}

.book_search_result > div {
    display: table-cell;
    vertical-align: top;
}

.book_search_result .cover {
    width: 200px;
    height: 300px;
    display: block;
    margin-bottom: 30px;
    margin-right: 20px;
}

.book_search_result .cover > img {
    width:200px;
    height: 300px;
}

.book_search_result .title {
    margin: 0;
}