<div class="popup-search mfp-hide" id="<%=id%>">

  <div class="popup-search-query">
    <input class="popup-search-text" title="Query" placeholder="Query">
    <button class="popup-search-button">Search</button>
  </div>

  <div class="popup-search-response"></div>

</div>